---
import type { HTMLAttributes } from 'astro/types';
import type { InferEntrySchema } from 'astro:content';

interface Props extends HTMLAttributes<'article'> {
  postInfo: InferEntrySchema<'post'>;
}

const { postInfo, ...nativeArticleProps } = Astro.props;
const { title, description, pubDate, thumbnail } = postInfo;
---

<article {...nativeArticleProps}>
  <div class="">
    <h1>{title}</h1>
    <p>{description}</p>
    <p>{pubDate}</p>
  </div>
  <img src={thumbnail.src} alt={thumbnail.alt} />
</article>

<style>
  .title {
  }
</style>
